{% extends 'base.html' %}
{% block content %}
  <div class="center">
    <h1 class="title is-2">Content-Based Image Retrieval System</h1>
    <h2 class="title is-3">By Ethan Yee</h2>
    <h4 class="title is-4">CSS 484 | Wi</h4>
  </div>
  <div class="grid">
    {% block changeOrder %}
      {% for image in images %}
        <a href="{{ url_for('show_image', image_name=image.split('/')[1] ) }}" class="card">
          <img class="image" src="{{ url_for('static', filename=image) }}" alt="beep">
          <h4 class="title is-4">{{image.split('/')[1]}}</h4>
        </a>
      {% endfor %}
    {% endblock changeOrder %}
  </div>
  <div class="center" style="display: flex; margin-top: 2rem;">
    {{pagination.links}}
  </div>
{% endblock %}